{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block entity %}
    <li class="breadcrumb-item"><a href="">{{ entity }}</a></li>
{% endblock %}
{% block cuerpo %}
    <div class="wrapper mt-3">
        <div class="row ">
            <div class="col-md-2 "></div>
            <div class="col-md-4 bg-light">
                <div class="card card-body">
                    <img src="{% static 'img/Materialinfo/inicioSesion.png' %}" style="object-fit: cover">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mt-5">
                    <div class="card-body login-card-body">
                        <h4 class="login-box-msg text-center " style="background-color: #043c75; color: white"><b>Recuperar
                            contraseña</h4>
                        {% if message %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endif %}
                        <p class="text-danger mt-3">¿Olvidaste tu contraseña? </p>
                        <p>Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones
                            para configurar una nueva.</p>

                        <form method="post">{% csrf_token %}
                            <fieldset class="module aligned">
                                <div class="form-row field-email">
                                    {{ form.email.errors }}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="id_email">{% translate 'Email address:' %}</label>
                                        </div>
                                        <div class="col-md-12">
                                            {% render_field form.email type="email" class="form-control font-weight-bold border border-info" placeholder="correo" %}
                                        </div>

                                    </div>


                                </div>
                                <input class="btn btn-block btn-success font-weight-bold text-uppercase mt-3"
                                       type="submit"
                                       value="{% translate 'Reset my password' %}">
                            </fieldset>
                        </form>
                    </div>
                    <!-- /.login-card-body -->
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block footer %}
    {% include 'include/footer.html' %}
{% endblock %}