{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block entity %}
    <li class="breadcrumb-item"><a href="">{{ entity }}</a></li>
{% endblock %}
{% block cuerpo %}
    <div class="wrapper mt-3">
        <div class="row ">
            <div class="col-md-2 "></div>
            <div class="col-md-4 bg-light">
                <div class="card card-body">
                    <img src="{% static 'img/Materialinfo/inicioSesion.png' %}" style="object-fit: cover">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mt-5">
                    <div class="card-body login-card-body">
                        <h4 class="login-box-msg text-center " style="background-color: #043c75; color: white"><b>Confirmacion
                            de recuperacion de contraseña</h4>
                        {% if validlink %}

                            <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                            <form method="post">{% csrf_token %}
                                <fieldset class="module aligned">
                                    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                                    <div class="form-row field-password1">
                                        {{ form.new_password1.errors }}
                                        <label for="id_new_password1">{% translate 'New password:' %}</label>
                                        {{ form.new_password1 }}
                                    </div>
                                    <div class="form-row field-password2">
                                        {{ form.new_password2.errors }}
                                        <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
                                        {{ form.new_password2 }}
                                    </div>
                                    <input type="submit" value="{% translate 'Change my password' %}">
                                </fieldset>
                            </form>

                        {% else %}

                            <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

                        {% endif %}
                    </div>
                    <!-- /.login-card-body -->
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block footer %}
    {% include 'include/footer.html' %}
{% endblock %}