{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% block entity %}
    <li class="breadcrumb-item"><a href="">{{ entity }}</a></li>
{% endblock %}
{% block cuerpo %}
    <div class="wrapper mt-3">
        <div class="row ">
            <div class="col-md-2 "></div>
            <div class="col-md-4 bg-light">
                <div class="card card-body">
                    <img src="{% static 'img/Materialinfo/inicioSesion.png' %}" style="object-fit: cover">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mt-5">
                    <div class="card-body login-card-body">
                        <h4 class="login-box-msg text-center " style="background-color: #043c75; color: white"><b>Inicio
                            de Sesion</h4>

                        <!-- /.social-auth-links -->
                        <p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>
                        <a class="btn btn-block btn-success font-weight-bold text-uppercase"
                           href="{% url 'InicioSesion' %}">Iniciar
                            Sesion
                        </a>

                    </div>
                    <!-- /.login-card-body -->
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block footer %}
    {% include 'include/footer.html' %}
{% endblock %}