{% extends 'Reportes/Organizacion/nav/NavGeneral.html' %}
{% load static %}
{% block InfoPerfil %}
    <div class="row text-uppercase">
        <div class="col-md-12 card-body">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header bg-primary" id="headingOne">
                        <h4 class="mb-0 text-uppercase">
                            <button class="btn btn-link text-white" type="button" data-toggle="collapse"
                                    data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                <i class="fas fa-plus-square"></i> {{ tituloUno }}
                            </button>
                        </h4>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            {% include 'Reportes/Organizacion/include/Organizacion/adop/RangoEdad.html' %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-primary" id="headingTwo">
                        <h4 class="mb-0 text-uppercase">
                            <button class="btn btn-link collapsed text-white" type="button"
                                    data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                <i class="fas fa-plus-square"></i> {{ tituloDos }}
                            </button>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            {% include 'Reportes/Organizacion/include/Organizacion/adop/GesEstLac.html' %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-primary" id="headingThree">
                        <h4 class="mb-0 text-uppercase">
                            <button class="btn btn-link collapsed text-white" type="button"
                                    data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                <i class="fas fa-plus-square"></i> {{ tituloTres }}
                            </button>
                        </h4>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            {% include 'Reportes/Organizacion/include/Organizacion/adop/RangoEdadxTipoViviendaAdop.html' %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-primary" id="headingFour">
                        <h4 class="mb-0 text-uppercase">
                            <button class="btn btn-link collapsed text-white" type="button"
                                    data-toggle="collapse"
                                    data-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour">
                                <i class="fas fa-plus-square"></i> {{ tituloCuatro }}
                            </button>
                        </h4>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            {% include 'Reportes/Organizacion/include/Organizacion/adop/RangoEdadxRangoEdadAdop.html' %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-primary" id="headingFive">
                        <h4 class="mb-0 text-uppercase">
                            <button class="btn btn-link collapsed text-white" type="button"
                                    data-toggle="collapse"
                                    data-target="#collapseFive" aria-expanded="false"
                                    aria-controls="collapseFive">
                                <i class="fas fa-plus-square"></i> {{ tituloCinco }}
                            </button>
                        </h4>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            {% include 'Reportes/Organizacion/include/Organizacion/adop/RangoEdadxGeneroAdop.html' %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-primary" id="headingSix">
                        <h4 class="mb-0 text-uppercase">
                            <button class="btn btn-link collapsed text-white" type="button"
                                    data-toggle="collapse"
                                    data-target="#collapseSix" aria-expanded="false"
                                    aria-controls="collapseSix">
                                <i class="fas fa-plus-square"></i> {{ tituloSeis }}
                            </button>
                        </h4>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            {% include 'Reportes/Organizacion/include/Organizacion/adop/TamanoxTipoVivienda.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}