{% extends 'base/baseForm3partes.html' %}
{% load static %}

{% block errores %}
    {% if  form.errors %}
        <p><b>{{ tituloTer }} </b></p>
        <div class="card card-danger">
            {% for error in form.errors %}
                <li><span style="color: red">{{ error.label_tag }}({{ error }})</span></li>
            {% endfor %}
        </div>
    {% endif %}
    {% if  form1.errors %}
        <p><b>{{ tituloCuar }} </b></p>
        <div class="card card-danger">
            {% for error in form1.errors %}
                <li><span style="color: red">{{ error.label_tag }}({{ error }})</span></li>
            {% endfor %}
        </div>
    {% endif %}
    {% if  form3.errors %}
        <p><b>{{ tituloSec }} </b></p>
        <div class="card card-danger">
            {% for error in form3.errors %}
                <li><span style="color: red">{{ error.label_tag }}({{ error }})</span></li>
            {% endfor %}
        </div>
    {% endif %}
    {% if  form4.errors %}
        <p><b>{{ tituloSec }} </b></p>
        <div class="card card-danger">
            {% for error in form4.errors %}
                <li><span style="color: red">{{ error.label_tag }}({{ error }})</span></li>
            {% endfor %}
        </div>
    {% endif %}
    {% if  form5.errors %}
        <p><b>{{ tituloPrim }} </b></p>
        <div class="card card-danger">
            {% for error in form5.errors %}
                <li><span style="color: red">{{ error.label_tag }}({{ error }})</span></li>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{% block formPrim %}
    <div class="card-body ">
        <div class="form-group row">
            <div class="col-md-10 ">{{ form5.vacOctovalente.label_tag }}</div>
            <div class="col-md-2">{{ form5.vacOctovalente }}</div>
        </div>

        <div class="form-group row ">
            <div class="col-md-10 ">{{ form5.vacDesparacitacion.label_tag }}</div>
            <div class="col-md-2">{{ form5.vacDesparacitacion }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-10 ">{{ form5.vacAntirrabica.label_tag }}</div>
            <div class="col-md-2">{{ form5.vacAntirrabica }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-10 ">{{ form5.esterilizacion.label_tag }}</div>
            <div class="col-md-2">{{ form5.esterilizacion }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-10 ">{{ form5.Depresion.label_tag }}</div>
            <div class="col-md-2">{{ form5.Depresion }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-10 ">{{ form5.Ansiedad.label_tag }}</div>
            <div class="col-md-2">{{ form5.Ansiedad }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-10 ">{{ form5.discapacidad.label_tag }}</div>
            <div class="col-md-2">{{ form5.discapacidad }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-8 ">{{ form5.Tipodiscapacidad.label_tag }}</div>
            <div class="col-md-4">{{ form5.Tipodiscapacidad }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-10 "><b>¿Es apto para convivir con niños menores?</b></div>
            <div class="col-md-2 mt-3">{{ form5.probCNinosMenores }}</div>
        </div>
        <div><b>¿Tiene problemas de socialización con personas?</b>
            <div class="row ml-2">
                <div class="row col-md-6">{{ form5.probCAdultosM }} <small class="ml-2"> Adultos Mayores<br></small>
                </div>
                <div class="row col-md-6">{{ form5.probCAdultos }} <small class="ml-2"> Adultos<br></small></div>
            </div>
            <div class="row ml-2">
                <div class="row col-md-6">{{ form5.probCjovenes }} <small class="ml-2">Jovenes<br></small></div>
                <div class="row col-md-6">{{ form5.probCAdol }} <small class="ml-2">Adolecentes<br></small></div>
            </div>
        </div>
        <div><b>¿Tiene problemas de socialización con Algun genero?</b>
            <div class="row ml-2">
                <div class="row col-md-6">{{ form5.probMujeres }} <small class="ml-2"> Mujer<br></small></div>
                <div class="row col-md-6">{{ form5.probHombres }} <small class="ml-2"> Hombre<br></small></div>
            </div>
        </div>
        <div><b>¿Tiene problemas de socialización con otro animal?</b>
            <div class="row ml-2">
                <div class="row col-md-4">{{ form5.probSocialPerros }} <small class="ml-2"> Perros<br></small></div>
                <div class="row col-md-4">{{ form5.probSocialGatos }} <small class="ml-2"> Gatos<br></small></div>
                <div class="row col-md-4">{{ form5.probSocialOtros }} <small class="ml-2"> Otros<br></small></div>
            </div>
        </div>

        <div>{{ form5.descripcionEval.label_tag }}</div>
        <div>{{ form5.descripcionEval }}</div>
    </div>
{% endblock %}
{% block formSec %}
    {% for field4 in form4 %}
        <p>
        <div class="input-group-append">
            <div class="col-md-3 text-right" style="">{{ field4.label_tag }}</div>
            <div class="col-md-9">
                <div class="">
                    {{ field4 }}
                </div>
                <div class="">
                    {% for error4 in field4.errors %}
                        <span style="color: red">({{ error4 }})</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        </p>
    {% endfor %}
    {% for field3 in form3 %}
        <p>
        <div class="input-group-append">
            <div class="col-md-3 text-right" style="">{{ field3.label_tag }}</div>
            <div class="col-md-9">
                <div class="">
                    {{ field3 }}
                </div>
                <div class="">
                    {% for error4 in field3.errors %}
                        <span style="color: red">({{ error3 }})</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        </p>
    {% endfor %}
{% endblock %}

{% block formTer %}
    <div class="card bg bg-info">
        <b class="text-center">
            Informacion del adicional cuando fue puesto en adopcion
        </b>
        <div class="card-body">
            <div> Edad aproximado del animal de compañia:<b class="text-right">
                <br>{{ form6.Edad }}</b>
            </div>
            <div>Fecha:
                <p class="text-right">{{ form6.fecha_en_Adopcion }}</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        Ingrese la edad aproximada <br>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                {{ form.edadAnos.label_tag }}{{ form.edadAnos }}
            </div>
            <div class="input-group-prepend">
                {{ form.edadMeses.label_tag }}{{ form.edadMeses }}
            </div>
        </div>
        <div class="form-group row mr-3">
            <div class="col-md-8">{{ form.fotoAdopcion.label_tag }}</div>
            <div class="">{{ form.fotoAdopcion }}</div>
        </div>
        <div class="form-group row mr-1">
            <div class="">{{ form.descripcionAdop.label_tag }} </div>
            <div class="col-md-12">{{ form.descripcionAdop }}</div>
        </div>
    </div>
    <hr>
    <div class="text-center" style="color: #043c75">
        <h4>{{ tituloCuar }}</h4>
    </div>
    <hr>
    <div class="card-body">
        <div class="input-group mb-2 mr-sm-2">
            <div class="col-md-10">{{ form1.croquis.label_tag }}</div>
            <div class="">{{ form1.croquis }}</div>
        </div>
        <div class="form-group row mr-3">
            <div class="col-md-6">{{ form1.docCroquis.label_tag }}</div>
            <div class="card">{{ form1.docCroquis }}</div>
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <div class="col-md-10">{{ form1.servicio_basico.label_tag }}</div>
            <div class="">{{ form1.servicio_basico }}</div>
        </div>
        <div class="form-group row mr-3">
            <div class="col-md-6">{{ form1.docServicio.label_tag }}</div>
            <div class="card">{{ form1.docServicio }}</div>
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <div class="col-md-10">{{ form1.carnet.label_tag }}</div>
            <div class="">{{ form1.carnet }}</div>
        </div>
        <div class="form-group row mr-3">
            <div class="col-md-6">{{ form1.docCarnet.label_tag }}</div>
            <div class="card">{{ form1.docCroquis }}</div>
        </div>
        <div class="form-group row mr-3">
            <div class="col-md-10">{{ form1.compromiso.label_tag }}</div>
            <div class="card">{{ form1.compromiso }}</div>
        </div>
        <div class="form-group row mr-3">
            <div class="col-md-6">{{ form1.docCompromiso.label_tag }}</div>
            <div class="card">{{ form1.docCompromiso }}</div>
        </div>

        <div class="form-group row mr-1">
            <div class="">{{ form1.descripcion.label_tag }} </div>
            <div class="col-md-12">{{ form1.descripcion }}</div>
        </div>
    </div>
{% endblock %}
