{% load static %}
<div class="content-header text-center" style="color:white">
    <h2>Bienvenido Usuario Invitado
    </h2>
    <hr class="border-light">
</div>

<div class="row">
    <div class="col-md-5" style="max-height:50%">
        <div class="card card-body">
            <!--<img src="{% static 'img/gif/InfoInicio.gif' %}" style="object-fit: cover">-->
            <video src="{% static 'img/gif/InfoInicio3.mp4' %}" style="object-fit: cover" autoplay muted
                   loop></video>
        </div>
    </div>
    <div class="col-md-7" style="max-height:50%">
        <div class="card card-header bg-light mt-1"><b><h1 style="font-size: 130%; color: blue">La Aplicacion web te
            ofrece:</h1></b></div>
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'ListaOrganizaciones' %}">
                    <div class="card card-body">
                        <div class="card-title">Lista de las Organizaciones Protectoras de Animales</div>
                        <hr>
                        <div class="card-subtitle"><p style="text-align: justify">Aqui podras encontrar la informacion y
                            contacto de todas las organizaciones protectoras de animales registradas
                            en la aplicacion web</p></div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'ListaAnimalesAdopcion' %}">
                    <div class="card card-body">
                        <div class="card-title">Lista de Animales de Compañia en Adopcion</div>
                        <hr>
                        <div class="card-subtitle">
                            <p style="text-align: justify">
                                Podras visualizar a todos los animales de compañia registrados (perros, gatos, entre
                                otros) que estan
                                <b>en Adopcion</b>. Podras ver su informacion completa.
                            </p></div>
                    </div>

                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'motor:InicioMotor' %}">
                    <div class="card card-body">
                        <div class="ribbon-wrapper ribbon-xl">
                            <div class="ribbon bg-danger text-lg">
                                Disponible al Registrarse
                            </div>
                        </div>
                        <div class="card-title">Motor de emparejamiento<span class="badge badge-pill badge-danger">Disponible al registrarse</span>
                        </div>
                        <hr>
                        <div class="card-subtitle"><p style="text-align: justify">
                            La aplicacion web te brinda un motor de emparejamiento donde con algunos datos que se
                            requiere,
                            encontrara a todos los animales de compañia que se ajustan a los datos proporcionados
                        </p></div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#">
                    <div class="card card-body">
                        <div class="ribbon-wrapper ribbon-xl">
                            <div class="ribbon bg-danger text-lg">
                                Disponible al Registrarse
                            </div>
                        </div>
                        <div class="card-title">Datos estadisticos <span class="badge badge-pill badge-danger ">Disponible al registrarse</span>
                        </div>
                        <hr>
                        <div class="card-subtitle"><p style="text-align: justify">
                            La aplicacion web te brinda informacion acerca de cuantos animales han sido registrados en
                            la aplicacion web, de estos cuantos estan en rehabilitacion, en adopcion y adoptados
                        </p></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>