{% load static %}
<div class="content-header text-center" style="color:white">
    <h2>Bienvenido {{ user.username }}
        <h4> ({{ user.rol }})</h4>
    </h2>
</div>
<hr class="border border-white">
<div class="row">
    <div class="col-md-5" style="max-height:40%">
        <div class="card card-header mt-1 bg bg-white"><b>Mision del SuperUsuario</b></div>
        <div class="card card-body">
            <img src="{% static 'img/Materialinfo/misionSuperuser.png' %}" style="object-fit: cover">
        </div>
    </div>
    <div class="col-md-7 font-weight-bold" style="max-height:50%">
        <div class="card card-header mt-1 bg bg-white"><b>Accedes a:</b></div>
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'userLog:superuser:ListaOrg' %}">
                    <div class="card card-body">
                        <div class="card-title font-weight-bold text-uppercase">Lista de las Organizaciones Protectoras
                            de
                            Animales
                        </div>
                        <hr>
                        <div class="card-subtitle"><p style="text-align: justify">Encontraras la informacion de todas
                            las
                            organizaciones protectoras de animales registradas
                            en la aplicacion web, podras actualizar sus datos y cambiar el estado de las mismas</p>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-md-6">
                <a href="{% url 'userLog:superuser:RegiOrg' %}">

                    <div class="card card-body">
                        <div class="card-title font-weight-bold text-uppercase">Registrar a las organizaciones
                            protectoras de
                            animales
                        </div>
                        <hr>
                        <div class="card-subtitle">
                            <p style="text-align: justify">
                                Podras registrar los datos de la organizacion protectora de animales y los
                                datos del encargado de dicha organizacion
                            </p></div>
                    </div>

                </a>

            </div>
            <div class="col-md-6">
                <a href="/admin/">

                    <div class="card card-body">
                        <div class="card-title font-weight-bold text-uppercase">Interfaz Ampliada del superusuario</div>
                        <hr>
                        <div class="card-subtitle">
                            <p style="text-align: justify">
                                Podras acceder a la interfaz ampliada que la aplicacion web ofrece a los superUsuarios
                                en esta
                                interfaz podras dar mantenimiento y actualizacion de la pagina web
                            </p></div>
                    </div>

                </a>

            </div>
            <div class="col-md-6">
                <a href="#">

                    <div class="card card-body">
                        <div class="card-title font-weight-bold text-uppercase">Reportes</div>
                        <hr>
                        <div class="card-subtitle">
                            <p style="text-align: justify">
                                La pagina web podras ver estadisticas de cuantas organizaciones han sido registradas,
                                cuantos
                                animales de compañia han sido registradas entre otros
                            </p></div>
                    </div>
                </a>

            </div>
        </div>


    </div>
</div>